@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --black: #2D2347;
  --dark: #1B1B1B;
  --sky-blue: #1FAAFF;
  --gray-text: #797979;
  --gradient-pink: #FA17B0; /*linear-gradient(180deg, #FF17B3 0%, #DA189B 100%);*/
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,body{
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  color: var(--dark);
  background-color: #fff;
}

a,
button {
  cursor: pointer;
}

button {
  border: 0;
  background-color: transparent;
  display: inline-block;
  padding: 0;
}

.container-fluid {
  max-width: 100%;
}

.container {
  max-width: 100%;
  margin: auto;
  padding: 0 15px;
}
.sc-dwnOUR{
  display: flex;
  padding: 0 100px;
}
.sc-cZFQFd {
  display: flex;
  padding: 0 100px;
}
.sc-eDWCr {
  padding: 0 10%;
}
.footer-p{
  text-align: left;
  padding-left: 10px;
}
.fCicLg ,.link{
  text-align: left;
}

@media screen and (min-width:1400px) {
  .container {
    max-width: 1366px;
  }
}

@media screen and (max-width:1300px) {
  html,body{
    font-size: 9px;
  }
}
@media screen and (max-width:1160px) {
  html,body{
    font-size: 8.5px;
  }
}
@media screen and (max-width:1050px) {
  html,body{
    font-size: 7.5px;
  }
}

